[user]
	email = zivaum.jee@gmail.com
	name = muaviz
[init]
	defaultbranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/muaviz/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/muaviz/.local/bin/gh auth git-credential
[pull]
	rebase = true
[core]
	editor = nvim
